### Task 1: DEFINE A PANDAS SERIES

Let's import library

In [2]:
import pandas as pd

Let's define a Python list that contains 5 crypto currencies

In [5]:
crypto_list = ['BTC', 'XRP', 'LTC', 'ADA', 'ETH']
crypto_list

['BTC', 'XRP', 'LTC', 'ADA', 'ETH']

Let's confirm the Datatype

In [6]:
type(crypto_list)

list

Let's create a one dimensional Pandas "series" <br>
Let's use Pandas Constructor Method to create a series from a Python list<br>
Note that series is formed of data and associated index (numeric index has been automatically generated) <br>
Check Pandas Documentation for More information: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series<br>
Object datatype is used for text data (String)

In [7]:
crypto_series = pd.Series(data = crypto_list)
crypto_series

0    BTC
1    XRP
2    LTC
3    ADA
4    ETH
dtype: object

Let's confirm the Pandas Series Datatype

In [10]:
type(crypto_series)

pandas.core.series.Series

Let's define another Pandas Series that contains numeric values (crypto prices) instead of text data<br>
Note that we have int64 datatype which means it's integer stored in 64 bits in memory

In [12]:
crypto_prices_series = pd.Series(data = [2000, 500, 2000, 20, 50])
crypto_prices_series

0    2000
1     500
2    2000
3      20
4      50
dtype: int64

Let's define a Pandas Series named "my_series" that contains my top 3 favourite stocks and confirm the datatype of "my_series"

In [19]:
stock_list = ['Google', 'Netflix', 'Amazon']
my_series = pd.Series(data = stock_list)
my_series

0     Google
1    Netflix
2     Amazon
dtype: object

In [29]:
type(my_series)

pandas.core.series.Series

### Task 2: DEFINE A PANDAS SERIES WITH CUSTOM INDEX

Let's define a python list which will be used for the Series index:

In [21]:
crypto_labels = ['crypto#1', 'crypto#2', 'crypto#3', 'crypto#4', 'crypto#5']
crypto_labels

['crypto#1', 'crypto#2', 'crypto#3', 'crypto#4', 'crypto#5']

Now we have two lists, crypto_list and crypto_labels:

In [22]:
crypto_list

['BTC', 'XRP', 'LTC', 'ADA', 'ETH']

Let's create a one dimensional Pandas "series" <br>
Let's use Pandas Constructor Method to create a series from a Python list <br>
If we do not do this and just define a panda series, there will be numeric default indices captured in there or defined within the panda series.<br>
Note that this series is formed of data and associated labels

In [23]:
crypto_series = pd.Series(data = crypto_list, index = crypto_labels)

In [24]:
crypto_series

crypto#1    BTC
crypto#2    XRP
crypto#3    LTC
crypto#4    ADA
crypto#5    ETH
dtype: object

Let's obtain the datatype

In [25]:
type(crypto_series)

pandas.core.series.Series

Let's change default numeric indexes from my_series to the following indexes "stock #1", "stock #2", and "stock #3"

In [26]:
stock_labels = ['stock#1', 'stock#2', 'stock#3']

In [30]:
stock_series = pd.Series(data = stock_list, index = stock_labels)

In [31]:
stock_series

stock#1     Google
stock#2    Netflix
stock#3     Amazon
dtype: object

# Task 3: DEFINE A PANDAS SERIES FROM A DICTIONARY

A Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.<br>
Keys are unique within a dictionary while values may not be. <br>
List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys<br>
Define a dictionary named "my_dict" using key-value pairs

In [32]:
my_dict = {'Employee ID': 1,
           'Employee Name': 'Steve',
           'Salary [$]': 2000,
           'Years with Company': 10}

In [33]:
my_dict

{'Employee ID': 1,
 'Employee Name': 'Steve',
 'Salary [$]': 2000,
 'Years with Company': 10}

In [34]:
type(my_dict)

dict

Let's define a Pandas Series Using the dictionary

In [35]:
employee_series = pd.Series(my_dict)
employee_series

Employee ID               1
Employee Name         Steve
Salary [$]             2000
Years with Company       10
dtype: object

Create a Pandas Series from a dictionary with 3 of your favourite stocks and their corresponding prices

In [42]:
my_dict_stocks = {'Amazon': 1000,
                'Facebook': 3000,
                'Netflix': 2500}
my_dict_stocks

{'Amazon': 1000, 'Facebook': 3000, 'Netflix': 2500}

In [43]:
 stocks_series = pd.Series(my_dict_stocks)
 stocks_series

Amazon      1000
Facebook    3000
Netflix     2500
dtype: int64

# Task 4: PANDAS ATTRIBUTES

<b>Attributes/Properties:</b> do not use parantheses "()" and are used to get Pandas Series Properties. Ex: my_series.values, my_series.shape <br>
<br>
<b>Methods:</b> use parantheses "()" and might include arguments and they actually alter/change the Pandas Series. Ex: my_series.tail(), my_series.head(), my_series.drop_duplicates() <br>
<br>
<b>Indexers:</b> use square brackets "[]" and are used to access specific elements in a Pandas Series or DataFrame. Ex: my_series.loc[], my_series.iloc[] <br>

Let's redefine a Pandas Series containing our favourite 5 cryptos

In [44]:
crypto_list = ['BTC', 'XRP', 'LTC', 'ADA', 'ETH']
crypto_series = pd.Series(data = crypto_list)
crypto_series

0    BTC
1    XRP
2    LTC
3    ADA
4    ETH
dtype: object

"values" attribute is used to return Series as ndarray depending on its dtype

In [45]:
crypto_series.values

array(['BTC', 'XRP', 'LTC', 'ADA', 'ETH'], dtype=object)

"index" is used to return the index (axis labels) of the Series

In [46]:
crypto_series.index

RangeIndex(start=0, stop=5, step=1)

"dtype" is used to return the datatype of the Series ('O' stands for 'object' datatype)

In [48]:
crypto_series.dtype

dtype('O')

Check if all elements are unique or not

In [51]:
crypto_series.is_unique

True

Check the shape of the Series, note that a Series is one dimensional

In [52]:
crypto_series.shape

(5,)

What is the size of the Pandas Series? (External Research for the proper attribute is Required)

In [53]:
crypto_series.size

5

# Task 5: PANDAS METHODS

Methods have parentheses and they actually alter/change the Pandas Series <br>
Methods: use parantheses "()" and might include arguments. Ex: my_series.tail(), my_series.head(), my_series.drop_duplicates()<br>
<br>
Let's define another Pandas Series that contains numeric values (crypto prices) instead of text data<br>
Note that we have int64 datatype which means it contains integer values stored in 64 bits in memory

In [55]:
crypto_prices = pd.Series(data = [400, 500, 1500, 20, 70])
crypto_prices

0     400
1     500
2    1500
3      20
4      70
dtype: int64

Let's obtain the sum of all elements in the Pandas Series

In [56]:
crypto_prices.sum()

2490

Let's obtain the multiplication of all elements in the Pandas Series

In [57]:
crypto_prices.product()

420000000000

Let's obtain the average

In [58]:
crypto_prices.mean()

498.0

Let's show the first couple of elements in the Pandas Series <br>
Note that head creates a new dataframe

In [59]:
crypto_prices.head(2)

0    400
1    500
dtype: int64

Show the last 2 rows in the Pandas Series

In [61]:
crypto_prices.tail(2)

3    20
4    70
dtype: int64

How many bytes does this Pandas Series consume in memory?

In [65]:
crypto_prices.memory_usage()

168

# Task 6: IMPORT CSV DATA (1-D) USING PANDAS

Pandas read_csv is used to read a csv file and store data in a DataFrame by default<br>
Use Squeeze to convert it into a Pandas Series (One-dimensional)<br>
Notice that no formatting exists when a Series is plotted

In [76]:
BTC_price_series = pd.read_csv('C:/Users/Martina/OneDrive/Radna površina/Pandas/Projects on Coursera/Python for Data Analysis 1/crypto.csv', squeeze = True)
BTC_price_series

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2380    55950.746090
2381    57750.199220
2382    58917.691410
2383    58918.832030
2384    59095.808590
Name: BTC-USD Price, Length: 2385, dtype: float64

In [77]:
type(BTC_price_series)

pandas.core.series.Series

In [78]:
BTC_price_series_2 = pd.read_csv('C:/Users/Martina/OneDrive/Radna površina/Pandas/Projects on Coursera/Python for Data Analysis 1/crypto.csv', squeeze = False)
BTC_price_series_2

      BTC-USD Price
0        457.334015
1        424.440002
2        394.795990
3        408.903992
4        398.821014
...             ...
2380   55950.746090
2381   57750.199220
2382   58917.691410
2383   58918.832030
2384   59095.808590

[2385 rows x 1 columns]

In [79]:
type(BTC_price_series_2)

pandas.core.frame.DataFrame

# Task 7: PANDAS BUILT-IN FUNCTIONS

Pandas works great with pre-existing python functions <br>
You don't have to play with pandas methods and directly leverage Python functions

Obtain the Data Type of the Pandas Series

In [80]:
type(BTC_price_series)

pandas.core.series.Series

Obtain the length of the Pandas Series

In [82]:
len(BTC_price_series)

2385

Obtain the maximum value of the Pandas Series

In [83]:
max(BTC_price_series)

61243.08594

Obtain the minimum value of the Pandas Series

In [84]:
min(BTC_price_series)

178.1029968

Given the following Pandas Series, convert all positive values to negative using python built-in functions

In [86]:
my_series = pd.Series(data = [-10, 100, -30, 50, 100])
my_series

0    -10
1    100
2    -30
3     50
4    100
dtype: int64

In [87]:
abs(my_series)

0     10
1    100
2     30
3     50
4    100
dtype: int64

Obtain only unique values (ie: Remove duplicates) using python built-in functions

In [88]:
set(my_series)

{-30, -10, 50, 100}

# Task 8: SORTING PANDAS SERIES

In [89]:
BTC_price_series

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2380    55950.746090
2381    57750.199220
2382    58917.691410
2383    58918.832030
2384    59095.808590
Name: BTC-USD Price, Length: 2385, dtype: float64

You can sort the values in the dataframe as follows

In [90]:
BTC_price_series.sort_values()

119       178.102997
122       199.259995
121       208.097000
120       209.843994
123       210.339004
            ...
2382    58917.691410
2383    58918.832030
2384    59095.808590
2366    59302.316410
2365    61243.085940
Name: BTC-USD Price, Length: 2385, dtype: float64

Let's view Pandas Series again after sorting, Note that nothing changed in memory! You have to make sure that inplace is set to True<br>

In [91]:
BTC_price_series

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2380    55950.746090
2381    57750.199220
2382    58917.691410
2383    58918.832030
2384    59095.808590
Name: BTC-USD Price, Length: 2385, dtype: float64

Set inplace = True to ensure that change has taken place in memory

In [92]:
BTC_price_series.sort_values(inplace = True)

In [93]:
BTC_price_series

119       178.102997
122       199.259995
121       208.097000
120       209.843994
123       210.339004
            ...
2382    58917.691410
2383    58918.832030
2384    59095.808590
2366    59302.316410
2365    61243.085940
Name: BTC-USD Price, Length: 2385, dtype: float64

You can also sort by index (revert back to the original Pandas Series) as follows:

In [96]:
BTC_price_series.sort_index(inplace = True)

In [97]:
BTC_price_series

0         457.334015
1         424.440002
2         394.795990
3         408.903992
4         398.821014
            ...
2380    55950.746090
2381    57750.199220
2382    58917.691410
2383    58918.832030
2384    59095.808590
Name: BTC-USD Price, Length: 2385, dtype: float64

Sort the BTC_price_series values in a decending order instead. Make sure to update values in-memory.

In [100]:
BTC_price_series.sort_values(ascending = False, inplace = True)
BTC_price_series

2365    61243.085940
2366    59302.316410
2384    59095.808590
2383    58918.832030
2382    58917.691410
            ...
123       210.339004
120       209.843994
121       208.097000
122       199.259995
119       178.102997
Name: BTC-USD Price, Length: 2385, dtype: float64

# Task 9: PERFORM MATH OPERATIONS ON PANDAS SERIES

Apply Sum Method on Pandas Series

In [101]:
BTC_price_series.sum()

15435379.7388527

Apply count Method on Pandas Series

In [102]:
BTC_price_series.count()

2385

Obtain the maximum value

In [103]:
BTC_price_series.max()

61243.08594

Obtain the minimum value

In [104]:
BTC_price_series.min()

178.1029968

Describe is used to obtain all statistical information in one place

In [107]:
BTC_price_series.describe()

count     2385.000000
mean      6471.857333
std       9289.022505
min        178.102997
25%        454.618988
50%       4076.632568
75%       8864.766602
max      61243.085940
Name: BTC-USD Price, dtype: float64

Obtain the average price of the BTC_price_series using two different methods

In [108]:
BTC_price_series.mean()

6471.857332852288

In [109]:
BTC_price_series.sum()/BTC_price_series.count()

6471.857332852285

# Task 10: CHECK IF A GIVEN ELEMENT EXISTS IN A PANDAS SERIES

Check if a given number exists in a Pandas Series values<br>
Returns a boolean "True" or "False"

In [111]:
1295.5 in BTC_price_series.values

False

Check if a given number exists in a Pandas Series index. Note that by default 'in' will search in Pandas index and not values

In [112]:
1295 in BTC_price_series.index

True

Check if the stock price 399 exists in the BTC_price_series Pandas Series or not

In [114]:
399 in BTC_price_series.values

False

Round stock prices to the nearest integer and check again

In [117]:
rounded_series = round(BTC_price_series)
rounded_series

2365    61243.0
2366    59302.0
2384    59096.0
2383    58919.0
2382    58918.0
         ...
123       210.0
120       210.0
121       208.0
122       199.0
119       178.0
Name: BTC-USD Price, Length: 2385, dtype: float64

In [118]:
399 in rounded_series.values

True